[submodule "pb_omni_pid_pursuit_controller"]
	path = pb_omni_pid_pursuit_controller
	url = https://github.com/LihanChen2004/pb_omni_pid_pursuit_controller.git
[submodule "ros2_simple_serial"]
	path = ros2_simple_serial
	url = https://gitee.com/qza36/ros2_simple_serial.git
[submodule "terrain_analysis"]
    path = terrain_analysis
    url = https://github.com/qza36/terrain_analysis.git
[submodule "pb_nav_plugins"]
    path = pb_nav_plugins
    url = https://github.com/qza36/pb_nav2_plugins.git
